@import 'colors';
@import 'fonts';
@import 'utility';

@import 'lists';
@import 'movies';

$layoutHeight_header: 12rem;
$layoutHeight_footer: 2rem;
$layoutWidth_content: 64rem;

html {
	font-size: 16px;
}

body {

	font-size: 1rem; line-height: 1.4;
	font-weight: 200;

	background-color: var(--color_light-alt);
	color: var(--color_dark);
	font-family: var(--font_primary);

	width: 100vw; height: 100vh;
	margin: 0; padding: 0;

	overflow-x: hidden;

	& > .body-wrap {
		position: relative;
		z-index: 10;
		width: 100vw; min-height: calc(100vh - #{$layoutHeight_header + $layoutHeight_footer});
		margin: 0; padding: $layoutHeight_header 0 $layoutHeight_footer;
		overflow: auto;
	}

}

.container {
	position: relative;
	max-width: $layoutWidth_content;
	margin: 0 auto; padding: 0;
}

#header {

	@include unselectable;
	
	font-size: .8rem; line-height: 2.5;
	text-align: center;

	position: fixed;
	z-index: 30;
	top: 0; right: 0; left: 0;
	width: 100vw; height: $layoutHeight_header - 2rem;
	margin: 0; padding: 2rem 0 0;

	display: flex;
	justify-content: center;
	align-items: center;

	.page-title {
		margin: .1em 0 0 .3em;
		font-size: 6.5rem; line-height: 1;
		font-weight: 200;
	}

}

#footer {

	@include unselectable;
	
	font-size: .8rem; line-height: 2.5;
	text-align: center;

	position: fixed;
	z-index: 20;
	right: 0; bottom: 0; left: 0;
	width: 100vw; height: $layoutHeight_footer;
	margin: 0; padding: 0;

	.links > ul {
		margin: 0; padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		& > li {
			list-style: none;
			& > a {
				display: inline-block;
				padding: 0 .5rem;
				color: var(--color_dark);
				&:active, &:focus, &:hover {
					color: var(--color_primary);
				}
			}

		}
	}	
}

a {
	color: var(--color_secondary);
	&:active, &:focus, &:hover {
		color: var(--color_primary);
	}
}

.btn.btn-link {
	background: none;
	border: none;
	color: var(--color_secondary);
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	width: auto; height: auto;
	margin: 0; padding: 0;
	&:active, &:focus, &:hover {
		color: var(--color_primary);
	}
}

