.list-group {

	list-style: none;
	margin: 0; padding: 0;

	& > .list-group-item {
		list-style: none;
	}

	&.list-group-grid {

		display: flex;
		flex-wrap: wrap;

		&.two-columns > .list-group-item {
			width: 50%;
		}

		&.three-columns > .list-group-item {
			width: 33.33%; // default
		}

		&.four-columns > .list-group-item {
			width: 25%;
		}

		&.five-columns > .list-group-item {
			width: 20%;
		}

		&.six-columns > .list-group-item {
			width: 16.66%;
		}

		&.seven-columns > .list-group-item {
			width: 14.29%;
		}

		&.eight-columns > .list-group-item {
			width: 12.5%;
		}

	}

}

.list-group-item.list-group-item-link {
	cursor: pointer;
}
