:root {
  --color_primary: #4fb848;
  --color_secondary: #2ca449;
  --color_dark: #333;
  --color_dark-alt: #232323;
  --color_light: #b3b4b4;
  --color_light-alt: #fff;
  --color_contrast: #86b;
}

/*

	for each of the colors defined above,
	create a utility class that will set either the text color or background color of an element

*/
.bg-primary {
  background-color: var(--color_primary) !important;
}

.bg-hover-primary:hover {
  background-color: var(--color_primary) !important;
}

.text-primary {
  color: var(--color_primary) !important;
}

.text-hover-primary:hover {
  color: var(--color_primary) !important;
}

.bg-secondary {
  background-color: var(--color_secondary) !important;
}

.bg-hover-secondary:hover {
  background-color: var(--color_secondary) !important;
}

.text-secondary {
  color: var(--color_secondary) !important;
}

.text-hover-secondary:hover {
  color: var(--color_secondary) !important;
}

.bg-light {
  background-color: var(--color_light) !important;
}

.bg-hover-light:hover {
  background-color: var(--color_light) !important;
}

.text-light {
  color: var(--color_light) !important;
}

.text-hover-light:hover {
  color: var(--color_light) !important;
}

.bg-light-alt {
  background-color: var(--color_light-alt) !important;
}

.bg-hover-light-alt:hover {
  background-color: var(--color_light-alt) !important;
}

.text-light-alt {
  color: var(--color_light-alt) !important;
}

.text-hover-light-alt:hover {
  color: var(--color_light-alt) !important;
}

.bg-dark {
  background-color: var(--color_dark) !important;
}

.bg-hover-dark:hover {
  background-color: var(--color_dark) !important;
}

.text-dark {
  color: var(--color_dark) !important;
}

.text-hover-dark:hover {
  color: var(--color_dark) !important;
}

.bg-dark-alt {
  background-color: var(--color_dark-alt) !important;
}

.bg-hover-dark-alt:hover {
  background-color: var(--color_dark-alt) !important;
}

.text-dark-alt {
  color: var(--color_dark-alt) !important;
}

.text-hover-dark-alt:hover {
  color: var(--color_dark-alt) !important;
}

.bg-contrast {
  background-color: var(--color_contrast) !important;
}

.bg-hover-contrast:hover {
  background-color: var(--color_contrast) !important;
}

.text-contrast {
  color: var(--color_contrast) !important;
}

.text-hover-contrast:hover {
  color: var(--color_contrast) !important;
}

:root {
  --font_primary: "Roboto", sans-serif;
}

/*

	for each of the colors defined above,
	create a utility class that will set either the text color or background color of an element

*/
.font-primary {
  font-family: var(--font_primary) !important;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

/*

	Margin / Padding utilities
	to demonstrate the joy of SCSS loops

*/
.m-auto {
  margin: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-auto {
  padding: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pr-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pl-auto {
  padding-left: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

/*

	just a sneaky way to see the current breakpoint
	for dev purposes only

*/
body:after {
  content: "xxs";
  display: block;
  position: fixed;
  z-index: 5000;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
  color: gold;
  background: maroon;
}
@media (min-width: 568px) {
  body:after {
    content: "xs";
  }
}
@media (min-width: 667px) {
  body:after {
    content: "sm";
  }
}
@media (min-width: 768px) {
  body:after {
    content: "md";
  }
}
@media (min-width: 992px) {
  body:after {
    content: "lg";
  }
}
@media (min-width: 1200px) {
  body:after {
    content: "xl";
  }
}
@media (min-width: 1400px) {
  body:after {
    content: "xxl";
  }
}
@media (min-width: 1880px) {
  body:after {
    content: "xxxl";
  }
}
@media (min-width: 3800px) {
  body:after {
    content: "xxxxl";
  }
}
@media (min-width: 5080px) {
  body:after {
    content: "xxxxxl";
  }
}

.btn {
  display: inline-block;
  background: var(--color_light);
  color: var(--color_dark);
  font-size: 1.2rem;
  text-decoration: none;
  border: 0.1em solid var(--color_light);
  outline: 0;
  border-radius: 0.25rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  /*

  	for each of the colors defined above,
  	create a utility class that will set either the text color or background color of an element

  */
}
.btn:hover {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
}
.btn:active, .btn:focus {
  box-shadow: inset 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
.btn.btn-primary {
  background-color: var(--color_primary) !important;
  color: var(--color_light-alt) !important;
  border-color: var(--color_primary) !important;
}
.btn.btn-secondary {
  background-color: var(--color_secondary) !important;
  color: var(--color_light-alt) !important;
  border-color: var(--color_secondary) !important;
}
.btn.btn-light {
  background-color: var(--color_light) !important;
  color: var(--color_dark-alt) !important;
  border-color: var(--color_light) !important;
}
.btn.btn-light-alt {
  background-color: var(--color_light-alt) !important;
  color: var(--color_dark) !important;
  border-color: var(--color_light-alt) !important;
}
.btn.btn-dark {
  background-color: var(--color_dark) !important;
  color: var(--color_light-alt) !important;
  border-color: var(--color_dark) !important;
}
.btn.btn-dark-alt {
  background-color: var(--color_dark-alt) !important;
  color: var(--color_light) !important;
  border-color: var(--color_dark-alt) !important;
}
.btn.btn-contrast {
  background-color: var(--color_contrast) !important;
  color: var(--color_light-alt) !important;
  border-color: var(--color_contrast) !important;
}

.modal {
  position: fixed;
  z-index: 900;
  top: 100vh;
  right: 0;
  left: 0;
  height: 100vh;
  margin: 0;
  padding: 0 2rem;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.modal-bottom {
  align-items: flex-end;
}
.modal.modal-bottom .modal-content {
  min-height: 60vh;
}
.modal.modal-top {
  align-items: flex-start;
}
.modal.modal-top .modal-content {
  min-height: 60vh;
}
@media screen and (min-width: 64rem) {
  .modal .card {
    margin: 0 2rem;
  }
}
.modal .modal-underlay {
  pointer-events: none;
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: var(--color_dark-alt);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal.is-active {
  top: 0;
}
.modal.is-active .modal-underlay {
  pointer-events: all;
  opacity: 0.8;
}
.modal .modal-header {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.modal .modal-header .modal-closer {
  font-size: 1.4rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--color_light);
  margin-right: -0.8rem;
}
.modal .modal-content {
  position: relative;
  margin: 0 2rem;
  padding: 0 2rem 3rem;
  box-shadow: 1rem 1rem 1rem var(--color_dark-alt);
}

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-group > .list-group-item {
  list-style: none;
}
.list-group.list-group-grid {
  display: flex;
  flex-wrap: wrap;
}
.list-group.list-group-row {
  display: flex;
}

.movie .movie-poster {
  margin: 0;
  padding: 0;
}
.movie .movie-poster > img {
  display: block;
  width: 100%;
  height: auto;
}
.movie .movie-rating {
  font-size: 0.8em;
  line-height: 1.8;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin: 0 0.2em;
  padding: 0 0.6em;
  border-radius: 0.2em;
}
.movie .movie-duration {
  font-size: 0.8em;
}
.movie.movie-teaser {
  width: 14rem;
}
.movie.movie-details .row {
  display: flex;
}
.movie.movie-details .movie-poster {
  overflow: hidden;
  flex-shrink: 0;
  margin: 1rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.4);
}
.movie.movie-details .movie-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0 0 0 2rem;
}

.list-group-item .movie.movie-teaser {
  margin: 1rem;
  transform: scale(1);
  transition: transform 0.1s ease-out;
}
.list-group-item .movie.movie-teaser:active, .list-group-item .movie.movie-teaser:focus, .list-group-item .movie.movie-teaser:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}

.movie-title {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .movie-title {
    font-size: 3rem;
  }
}

.modal .movie-title {
  font-size: 1.6rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .modal .movie-title {
    font-size: 2rem;
  }
}

.showtime-list {
  font-size: 10px;
  height: 15.5em;
}
.showtime-list .hours, .showtime-list .showtimes {
  position: relative;
  white-space: nowrap;
}
.showtime-list .hours > .hours-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 6em;
  height: 6em;
}
.showtime-list .hours > .hours-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  height: 12em;
  border: 0.1em solid var(--color_light);
  border-width: 0.2em 0.1em;
}
.showtime-list .hours > .hours-item:first-child:after {
  border-width: 0.2em 0.1em 0.2em 0.2em;
}
.showtime-list .hours > .hours-item:last-child:after {
  border-width: 0.2em 0.2em 0.2em 0.1em;
}
.showtime-list .hours > .hours-item .hours-label {
  font-size: 1.4em;
  font-weight: 600;
  font-style: normal;
  color: var(--color_dark);
}
.showtime-list .showtimes .showtime-item {
  position: absolute;
  top: 6em;
  left: 0;
  height: 6em;
}

.showtime {
  position: relative;
  height: 6em;
  display: flex;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}
.showtime:hover {
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
.showtime > div:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
  padding-left: 1rem;
}
.showtime .showtime-icon {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0.8em;
}
.showtime .showtime-icon .star {
  display: inline-block;
  font-size: 1.5em;
  line-height: 0.9;
  font-style: normal;
  text-align: center;
  width: 0.8em;
  height: 0.8em;
  padding: 0.1em;
  border-radius: 5em;
}
.showtime .showtime-label {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s;
}
.showtime .showtime-label h5 {
  font-size: 1.8em;
  line-height: 1.1;
}
.showtime .showtime-label h5 + h5 {
  font-size: 1.2em;
  font-weight: 400;
}
.showtime .showtime-border {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0.3em 0 0 -0.2em;
}
.showtime .showtime-border > svg {
  width: 1.4em;
  height: auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 200;
  background-color: var(--color_light-alt);
  color: var(--color_dark);
  font-family: var(--font_primary);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body > .body-wrap {
  position: relative;
  z-index: 10;
  width: 100vw;
  min-height: calc(100vh - 14rem);
  margin: 0;
  padding: 12rem 0 2rem;
  overflow: auto;
}

.container {
  position: relative;
  width: 100%;
  min-width: 30rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0;
}

#header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  line-height: 2.5;
  text-align: center;
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  margin: 0;
  padding: 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #logo {
  min-width: 200px;
  max-width: calc(50vw - 2rem);
  margin: 0 1rem;
}
#header .page-title {
  font-size: 2rem;
  line-height: 1;
  font-weight: 200;
  text-align: left;
  max-width: calc(50vw - 2rem);
  margin: 0.1em 1rem 0;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}
@media (min-width: 568px) {
  #header .page-title {
    font-size: 3rem;
  }
}
@media (min-width: 667px) {
  #header .page-title {
    font-size: 3.3rem;
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  #header .page-title {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  #header .page-title {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  #header .page-title {
    font-size: 6rem;
  }
}
@media (min-width: 1400px) {
  #header .page-title {
    font-size: 6.6rem;
  }
}

#footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  line-height: 2.5;
  text-align: center;
  position: fixed;
  z-index: 20;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2rem;
  margin: 0;
  padding: 0;
}
#footer .links > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .links > ul > li {
  list-style: none;
}
#footer .links > ul > li > a {
  display: inline-block;
  padding: 0 0.5rem;
  color: var(--color_dark);
}
#footer .links > ul > li > a:active, #footer .links > ul > li > a:focus, #footer .links > ul > li > a:hover {
  color: var(--color_primary);
}

.nav.nav-tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: stretch;
}
.nav.nav-tabs .nav-item {
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.nav.nav-tabs .nav-item .nav-link {
  display: inline-block;
  background: var(--color_light);
  color: var(--color_light-alt);
  font-size: 1.8rem;
  line-height: 2.4;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}
.nav.nav-tabs .nav-item .nav-link.active {
  background: var(--color_light-alt);
  color: var(--color_primary);
}

.tab-pane {
  padding: 3rem 2rem;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color_secondary);
}
a:active, a:focus, a:hover {
  color: var(--color_primary);
}

.btn.btn-link {
  text-decoration: underline;
  background: none;
  border: none;
  color: var(--color_secondary);
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
  color: var(--color_primary);
}
