
/*

	for each of the colors defined above,
	create a utility class that will set either the text color or background color of an element

*/

$color_keys: 'primary', 'secondary', 'light', 'light-alt', 'dark', 'dark-alt', 'contrast';
@each $color_key in $color_keys {
	.bg-#{$color_key} {
		background-color: var(--color_#{$color_key}) !important;
	}
	.bg-hover-#{$color_key}:hover {
		background-color: var(--color_#{$color_key}) !important;
	}
	.text-#{$color_key} {
		color: var(--color_#{$color_key}) !important;
	}
	.text-hover-#{$color_key}:hover {
		color: var(--color_#{$color_key}) !important;
	}
}

