.list-group {

	list-style: none;
	margin: 0; padding: 0;

	& > .list-group-item {
		list-style: none;
	}

	&.list-group-grid {

		display: flex;
		flex-wrap: wrap;

	}

	&.list-group-row {
		display: flex;
	}

}

.tab-triggers {
	.list-group-tab-trigger {

	}
}
