.movie-poster {
	overflow: hidden;
	margin: 0; padding: 0;
	.movie-poster-crop {
		overflow: hidden;
		border-radius: .25rem;
		box-shadow: .4em .4em 1em rgba(0,0,0,.2);
		.movie-poster-image {
			display: block;
			width: 100%; height: auto;
		}
	}
}

.movie {

	.movie-rating {
		font-size: .8em; line-height: 1.8;
		text-align: center;
		white-space: nowrap;
		display: inline-block;
		margin: 0 .2em; padding: 0 .6em;
		border-radius: .2em;
	}

	.movie-duration {
		font-size: .8em;
	}

	&.movie-teaser {
		width: 14rem;
		max-width: 100%;
		.movie-title {
			font-size: 1.8rem;
		}
	}

	&.movie-details {
		.row {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
		.movie-poster {
			flex-shrink: 0;
			max-width: 40%;
			margin: 1rem .75rem;
		}
		.movie-description {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: center;
			margin: 0 0 0 2rem;
			padding: 2rem 0;
		}
	}

}

.list-group-item .movie {
	&.movie-teaser {
		margin: 0;
		.movie-poster {
			padding: 0 1rem 1rem 0;
		}
		&.interactive {
			cursor: pointer;
			transform: scale(1);
			transition: transform .1s ease-out;
			&:active, &:focus, &:hover {
				position: relative;
				z-index: 100;
				transform: scale(1.1);
				transition: transform .2s ease-in;
			}
		}
	}
}

.movie-title {
	font-size: 2rem; line-height: 1;
	@include md { font-size: 3rem; }
	margin: 0;
}

.modal .movie-title {
	font-size: 1.6rem; line-height: 1.2;
	@include md { font-size: 2rem; }
}

