$layoutHeight_header: 12rem;
$layoutHeight_footer: 2rem;
$layoutWidth_min: 30rem;
$layoutWidth_content: 64rem;

:root {
	--color_primary: #4fb848;
	--color_secondary: #2ca449;
	--color_dark: #333;
	--color_dark-alt: #232323;
	--color_light: #b3b4b4;
	--color_light-alt: #fff;
	--color_contrast: #86b;
}
